* {
  font-family: 'Poppins', sans-serif;
}

/*navbar styling*/
header {
  background-color: transparent;
}

.navbar {
  font-size: larger;
}

.navbar-brand {
  color: #aca39b;
}

#navbar-nav {
  display: flex;
  justify-content: end;
}

.nav-link{
  --navbar-hover-color: #D6CCC2;
}

.footicon {
  height: 24px;
  width: 24px;
}