* {
  font-family: 'Poppins', sans-serif;
  background-color: #EDEDE9;
}

main,
.website {
  background-color: #EDEDE9;
}

/*navbar styling*/
header {
  background-color: transparent;
}

.navbar {
  font-size: larger;
}

.navbar-brand {
  color: #aca39b;
}

#navbar-nav {
  display: flex;
  justify-content: end;
}

.nav-link{
  --navbar-hover-color: #D6CCC2;
}

.footicon {
  height: 24px;
  width: 24px;
}

.about-me-box
{
  background: #F5EBE0;
}

.me {
  padding-left: 0px;
  padding-right: 0px;
}

.submit-button{
  background-color:#E3D5CA;
  color:white;
}